@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.phototron {
  max-width: 100%;
  height: auto;
}

.content {
  padding: 2.5rem 2rem 2rem;
}


